{% extends 'base.html' %}
{% load static%}

{% block content %}
<header>
    <div id="headerContent">
        <div class="container">
            
            
        </div>
    </div>
</header>
  <div class="container">
    <h2>Products</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td><br>
        <td>{{ product.price }}</td>
        <td>
          <a href="{% url 'product_details' product.id %}" class="btn btn-primary">View</a> <br><br><br>
          <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <a href="{% url 'create_product' %}">Add New Product</a>
  </div>
{% endblock %}